*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color:#97511b39;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.navleft{
    flex: 1;
    list-style-type: none;
}

#logo{
    list-style-type: none;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 20%;
    cursor: pointer;
}

.navcenter{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.navright{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navleft, .navcenter, .navright{
    margin: 20px 50px;
}

#profileicon{
    width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#carticon{
    width: 8%;
    background-color: inherit;
    border-radius: 50%;
    padding: 5px;
}



#carticon:hover{
    background-color :#97511b55;
}

#profileicon, #carticon{
    cursor: pointer;
}

.links a{   
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
    color: black;
    display: inline-block;
    transition: 200ms;
}

.links:nth-child(1) a:hover,
.links:nth-child(2) a:hover,
.links:nth-child(3) a:hover,
.links:nth-child(4) a:hover,
.links:nth-child(5) a:hover{
    transform: scale(1.1);
    color: #97501B;
}


main{
    height: fit-content;
}

.hero{

    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 240px;
}

#title{
    font-size: 4.5rem;
    color: #97501B;
}

.linebreak{
    display: block;
}


#buttons{
    display: flex;
    padding: 20px 0;
    gap: 60px;
}

.buttons{
    width: 30%;
    height: 50px;
    border-radius: 40px;
    border: none;
}

#aboutbutton, #shopbutton{
    cursor: pointer;
}

#shopbutton{
    background-color: inherit;
    border: 1px solid #97501B;
    color: #97501B;
    font-size: 1.2rem;
}

#shopbutton:hover{
    background-color: #97501B;
    color: white;
    border: none;
}

#aboutbutton{
    background-color: #97501B;
    color: white;
    font-size: 1.2rem;
}

#aboutbutton:hover{
    background-color: inherit;
    border: 1px solid #97501B;
    color: #97501B;
}

#sunglasses{
    width: 100%;
    transform: scale(1.4) rotate(30deg);
}


.products{
    height: 150vh;
    background-color: rgba(128, 128, 128, 0.189);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productcontainer{
    width: 90%;
    height: 90%;
    /* background-color: green; */
}

.inforeturn{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shippingdiv, .paymentdiv, .returnandexchange{
    width: 33%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.shippingicondiv, .paymenticondiv, .returnandexchangeicondiv{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}

#shippingicon, #paymenticon, #returnandexchangeicon{
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgba(128, 128, 128, 0.186);
    border: 1px solid black;
    padding: 10px;
}

#linebreakshipping, #linebreakpayment, #linebreakreturnandexchange{
    display: block;
}

.info{
    font-style: italic;
}

.imagediv{
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
    margin-top: 2%;
}

.sunglassesimagestyle{
    aspect-ratio: 2.5 / 1;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 3px;
}

.feature{
    /* background-color: red; */
    margin-top: 3%;
    margin-left: 5.5%;
    height: 5%;
    width: fit-content;
}

#featuretext{
    font-size: 1.5rem;
}

.sunglassproducts{
    /* background-color: yellow; */
    width: 90%;
    height: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.backgroundimageproduct{
    background-color: white;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 100%;
    cursor: pointer;
}


.backgroundimageproductstyle{
    aspect-ratio: 2 / 3;
    object-fit: contain;
    width: 60%;
}

.addtocart{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10%;
    width: 33%;
    border-top-left-radius: 10px;
    font-weight: bold;
    border: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
}

.addtocart:hover{
    background-color: #97511bc4;
    color: white;
}

.pricetext{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.3rem;
}

.showcase{
    display: flex;
    height: 60vh;
}

.collection, .showcaseimage{
    width: 50%;
    height: 100%;
}

.collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.collectiontextdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#sunglassescollection{
    width: 35%;
}



#explorebutton{
    width: 20%;
    background-color: #97501B;
    height: 10%;
    border-radius: 40px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#collectiontext{
    width: 60%;
}

#arrowimage{
    width: 100%;
    transform: scale(1.5) translateY(1px);
}


#personimage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



footer{
    height: 200px;
    width: 100%;
    background-color: black;
}