*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: white;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.navleft{
    flex: 1;
    list-style-type: none;
}

#logo{
    text-decoration: none;
    cursor: pointer;
}

.navcenter{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.navright{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navleft, .navcenter, .navright{
    margin: 20px 50px;
}

#profileicon{
    width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#carticon{
    width: 8%;
}

#profileicon, #carticon{
    cursor: pointer;
}

.links a{   
    text-decoration: none;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    color: black;
}

main{
    height: fit-content;
}

.hero{

    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

#title{
    font-size: 3.5rem;
    color: #97501B;
}

.linebreak{
    display: block;
}


#buttons{
    display: flex;
    padding: 20px 0;
    gap: 60px;
}

.buttons{
    width: 30%;
    height: 50px;
    border-radius: 40px;
    border: none;
}

#aboutbutton, #shopbutton{
    cursor: pointer;
}

#shopbutton{
    background-color: inherit;
    border: 1px solid #97501B;
    color: #97501B;
    font-size: 1.2rem;
}

#aboutbutton{
    background-color: #97501B;
    color: white;
    font-size: 1.2rem;
}

#aboutbutton:hover{
    background-color: inherit;
    border: 1px solid #97501B;
    color: #97501B;
}


#products{

}
